@font-face {
  font-family: 'Exo2.0';
  src: url('../../assets/fonts/Exo2.0-Thin.otf');
  font-weight: normal;
}

html,
body {
  @extend %font-primary;
  background-color: $color-black;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  @include font($size: 1.5rem);
  color: $color-white;
  background-color: $color-black;
}

a:active,
a:hover,
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  box-sizing: content-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input,
button,
textarea {
  font-size: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
