$color-white: #fff;
$color-black: #000;
$color-grey: #666666;
$color-blue: #1698d9;
$color-pink: #d91667;
$color-yellow: #ffff66;

$desktop-width: 1280px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;
