.welcome__wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  @include media-tablet {
    position: static;
    top: 0;
    left: 0;
    transform: none;
  }
}

.welcome__title {
  font-size: 36px;
  font-weight: 100;
  line-height: 42px;
  font-style: normal;
  text-align: center;
  color: $color-white;
  margin: 36px auto 25px;
  text-shadow: 0px 1px 1px $color-black;
}
